.flip {

	width: 300px;
    height: 300px;
    margin: auto;
    margin-top: 14%;


}


.flip img {
    width: 300px;
    height: 300px;
    border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	
	
}
.flip .back {
	
	width: 300px;
    height: 300px;
    background: #ffb6c1;
    color: #af111c;
    text-align: center;
    border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	margin: auto;
    margin-top: 14%;

}